
*, *::after, *::before{
	box-sizing: border-box;
}

:root{
	--color-neutral-light:#FAFAFA;
	--color-neutral-medium:#8F8F8F;
	--color-neutral-dark:#555;

	--color-black:#000;
	--color-lightgrey:#EBEBEB;
	--color-white:#fff;
	--color-orange:#F09B6A;
	--color-mediumOrange:#FBBD9A;
	--color-lightOrange:#F6D7C5;

	--header-height:3rem;
	--spacing:1rem;


	--font-serif: Georgia, "Times New Roman", serif;
	--font-sans: Helvetica, Arial, sans-serif;
	--font-gara: Garamond, serif;
	--font-montserrat:"Montserrat", sans-serif;
	--font-playfiar:"Playfair Display", serif;
}


body{
	margin:0;
	font-size:100%;
	font-family:var(--font-montserrat);
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family:var(--font-playfiar);

}

a{
	color:inherit;
	font-weight: bold;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;

}


/* Layout Classes */

.container {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
}



.display-flex{ display:flex; }
.display-inline-flex{ display:inline-flex; }
.display-block{ display:block; }
.display-inline-block{ display:inline-block; }


.flex-stretch{ flex:1 1 auto; }
.felx-none{ flex:none; }

.flex-align-center{ align-items:center; }
.flex-justify-center{ justify-content:center; }



/* Component Classes*/

.nav ul{
	list-style-type:none;
	margin-top: 2em;
	margin-bottom: 0;
	padding-left: 0;
	font-family: var(--font-playfiar);
	font-weight: 600;
	font-size: 1.3em;
}

.nav a{
	display: block;
	padding: 0.2em 0.5em;
}

.nav-flex ul{
	display: flex;
}

.navbar{
	background-color: var(--color-white);
	color: var(--color-black);
	line-height: var(--header-height);
}

.navbar a {
	padding: 0 0.8em;
}
.navlogo{
	height: 40px;
	margin-top: 2em;
}

.hidden{
	display: none; 
}



/* Hero */
.hero{
	height: 600px;
	background-color: var(--color-white);

	overflow:hidden;
	position: relative;
}

.heroImage{	
	width: 700px;
	margin-left: 50%;
	margin-top: 5em;
}

.heroContent{
	position: absolute;
	top: 7em;
	left: 20%;
	padding:5em 3em;
}

.hero h1{
	font-size: 4em; 
	margin-bottom: 0.3em;
	font-weight: 400;
	line-height: 65px;
}

.hero p{
	font-size: 1em;
	margin-bottom: 1em;
}

.heroAbout{
	font-size: 1em;
	border: none;
	padding: 10px 30px;
	margin: 5px;
	border-radius: 25px;
	background-color:var(--color-black);
	color: var(--color-white);
}

.heroAbout:hover {
	background-color: var(--color-neutral-medium);
	color: var(--color-black);
}

.heroShop{
	font-size: 1em;
	border: none;
	padding: 10px 30px;
	margin: 5px;
	border-radius: 25px;
	background-color:var(--color-orange);
	color: var(--color-white);
}
.heroShop:hover{
	background-color:var(--color-lightOrange) ;
}




/* line */
.line{
	margin: 20px; 
	height: 1px;
	background-color: var(--color-lightgrey); 
}




/* Intro */
.intro{
	background-color: var(--color-white);
	text-align: center;
	padding: 150px 20px;
	padding-bottom: 200px;

}
.intro h2{
	font-weight: 600;
}

.intro p{
	margin-left: 35%;
	margin-right: 35%;
}

.introLogo{
	width: 50px;
	height: auto;
}








/* Card */

.card{
	background-color: var(--color-white);
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 1em;

	overflow:hidden;
	position: relative;
}
.card.soft{
	border-radius: 0.5em;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card.hard{
	border-radius: 0.2em;
	border: 2px solid var(--color-neutral-medium);
}

.card.dark{
	background-color:var(--color-black);
	color: var(--color-neutral-light);
}

.card.medium{
	background-color:var(--color-neutral-medium);
}

.card.flat{
	padding: 0;
}

.card.orange{
	background-color: var(--color-orange);
	color: var(--color-white);
}




/* View window [Name somthing: think about what it's does rather than what it's look!]*/

.view-window{
	height: 70vh;
	width: 100%;
	position: relative;
	overflow: hidden;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}




/* Popular */

/*.popular{
	background-color: var(--color-white);
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 150px 20px;
	padding-bottom: 200px;
}

.popular h2{
	font-size: 1.8em;
	margin-bottom: 1.5em;
}

.popularGallery{
	display: flex; 
	justify-content: center;
	flex-wrap: wrap;
	gap: 35px;
}

.popularItem{
	flex:0 0 266px;
	text-align: left;
	line-height: 1em;
}

.popularBold{
	font-weight: 600;
}*/



.popularTopic{
	margin-left: 10em;
	padding-top: 6em;
}




/* Bottom */

.bottom{
	background-color: var(--color-black);
	color: var(--color-white);
	text-align: center;
	padding: 80px 20px;
}



/* Table */
.table{
	width: 100%;
	border-collapse: collapse;
}

.table th,
.table td{
	text-align: left;
	padding: 0.2em, 0.5em;
}

.table.striped tbody tr:nth-child(odd) {
	background-color:var(--color-lightgrey);
}

.table.lined.vertical td:not(:first-child),
.table.lined.vertical th:not(:first-child)  {
	border-left: 1px solid var(--color-neutral-medium);
}

.table.lined.horizontal tbody tr{
	border-top: 1px solid var(--color-lightgrey);
}

.table.lined.border{
	border: 1px solid var(--color-lightgrey);
}



/* Figure */
.figure{
	margin:0;
}
.figure img{
	width:100%;
	vertical-align: text-bottom;
}
.figure figcaption{
	padding:1em 0em;
	font-weight: 600;
}



/* Product Grid */

.figure.product{
	text-align: left;
}

.productIntro{
	font-size: 0.8em;
	font-weight: 300;
	padding: 1em 0em;
	padding-top: 0.3em;
}




/* Product Overlay */

.overlay{
	position:relative;
	overflow: hidden;
}

.overlayInfo{
	color: var(--color-white);
	font-size: 1.5em;
	font-weight: 300;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	opacity:0;
	transition: all 0.3s;
	line-height: 1em;

}



.overlayInfo:hover{
	opacity: 1;
	cursor: pointer;
}




/* Form */

.form-select>select,
.hotdog,
.hotdog input,
.form-button,
.form-input,
.form-item{
	display: inline-block;
	background-color: transparent;
	border-width:0;
	font:inherit;
	font-size: 0.8em;
	-webkit-appearance:none;
	color: inherit;
	width: 100%;
	outline: 0;
}

.form-input{
	border-bottom: 1px solid var(--color-lightgrey);
	padding: 1em 1.5em;
}

.form-input:focus{
	border-bottom-color: var(--color-mediumOrange);
}


.form-label{
	font-size: 0.8em;
	color: var(--color-neutral-medium);
	display: block;
	width: 100%;
}



.form-control{
	margin: 1em 0;
}


.form-button{
	background-color: var(--color-lightgrey);
	border-radius: 0.2em;
	cursor: pointer;
	text-align: center;
	padding: 0.5em 1.5em;
}

.form-button:hover{
	text-decoration: none;
}

.form-button:active{
	background-color: var(--color-neutral-medium);
}





/* Hotdog */

.hotdog{
	background-color: var(--color-lightgrey);
	border-radius: 2em;
	padding: 1em 1.5em;
	display: flex;
}

.hotdog.dark{
	background-color: var(--color-black);
	color:var(--color-white);
}

.hotdog.border{
	background-color: var(--color-white);
	border:1px solid var(--color-lightgrey);
}




/* Select */

.form-select>select{
	padding: 0.5em 1em;
	background-color: var(--color-lightgrey);
	border-radius: 0.3em;
	cursor: pointer;
}

.form-select{
	position: relative;
	width: 18%;
    padding-top: 0.3em;
}

.form-select::after{
	content: '⌄';
	font-family: arial, sans-serif;
	font-size: 0.8em;
	position: absolute;
	top:50%;
	right: 0.5em;
	transform: translateY(-50%);
}


/* Toggle */
.toggle label{
	font-size: 1.3rem;
	display: inline-block;
	width: 2em;
	height: 1em;
	border:0.1em solid var(--color-neutral-medium);
	border-radius: 1em;
	position: relative;
}
.toggle label::after{
	content: '';
	display: inline-block;
	width: 0.8em;
	height: 0.8em;
	border-radius: 1em;
	position: absolute;
	background-color: var(--color-lightgrey);
	transition: all 0.3s;
}
.toggle input:checked + label::after{
	transform: translateX(1em);
}































